DATA_SOURCE_NAME="postgresql://{{ postgres_exporter_user }}:{{ postgres_exporter_password }}@{{ '127.0.0.1' if (ansible_fqdn not in groups['drbd'] and ansible_nodename not in groups['drbd'] and ansible_hostname not in groups['drbd']) else (corosync_vip | default('127.0.0.1')) }}:5432/{{ postgres_exporter_db }}?sslmode=disable"
export DATA_SOURCE_NAME
