/.ansible-logs
/.pki*
/facts-*
/group_vars
/hosts
/inventory/*
!/inventory/*-drbd
!/inventory/*-ha
!/inventory/*-standalone
!/inventory/*-test
/inventory/group_vars*/private.yaml
/old
/roles/coturn/files/schema.sql
/roles/pacemaker/tasks/reset-group.yaml
/test*.yaml
/wip
.*.sw[a-z]
*.[0-9]
*.crt
*.gz
*.key
*.log
*.pem
*.tar
