access_log stderr {{ nginx_log_fmt | default('combined') }};

upstream php-handler {
    server unix:/run/php/php{{ php_version }}-fpm.sock;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ ansible_fqdn }} {{ moodle_fqdn | default(ansible_fqdn) }};
    return 301 https://{{ moodle_fqdn | default(ansible_fqdn) }};
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ ansible_fqdn }} {{ moodle_fqdn | default(ansible_fqdn) }};
{% if bbb_uses_selfsigned | default(True) %}
    ssl_certificate /etc/nginx/ssl/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;
{% else %}
    ssl_certificate /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem;
{% endif %}
    ssl_ecdh_curve secp384r1;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;
    ssl_protocols {{ nginx_ssl_protocols | join(' ') }};
    ssl_ciphers "{{ nginx_ssl_ciphers | join(':') }}";
    ssl_prefer_server_ciphers on;
    ssl_dhparam /etc/nginx/ssl/dh.pem;
    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;
    add_header Strict-Transport-Security "max-age=31536001; includeSubDomains" always;
    access_log /var/log/nginx/moodle.access.log {{ nginx_log_fmt | default('combined') }};

    root /usr/src/moodle;
    rewrite ^/(.*\.php)(/)(.*)$ /$1?file=/$3 last;

    location ^~ / {
	try_files $uri $uri/ /index.php?q=$request_uri;
	index index.php index.html index.htm;

	location ~ \.php$ {
	    include snippets/fastcgi-php.conf;
	    fastcgi_pass php-handler;
        }
    }
}
