[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/node_exporter --collector.interrupts --collector.ntp --collector.tcpstat --collector.processes --collector.systemd --web.listen-address=:{{ node_exporter_port }}
Restart=always

[Install]
WantedBy=multi-user.target
