[sshd]
bantime  = 1h
enabled  = true
{% if (firehol_trusted_networks | default([])) | length > 0 %}
ignoreip = {{ firehol_trusted_networks | join(' ') }}
{% elif( nginx_backends_ipfilter | default([])) | length > 0 %}
ignoreip = {% for addr in nginx_backends_ipfilter %} {{ addr if (addr is match('/')) else (addr ~ '/32') }}{% endfor %}
{% endif %}
