global:
  resolve_timeout: 5m
{% if alertmanager_smtp_server | default(False) %}
  smtp_smarthost: {{ alertmanager_smtp_server }}:{{ alertmanager_smtp_port }}
{% if alertmanager_smtp_username %}
{% if '@' in alertmanager_smtp_username %}
  smtp_from: {{ alertmanager_smtp_username }}
{% else %}
  smtp_from: {{ alertmanager_smtp_username | default('alertmanager') }}@{{ alertmanager_smtp_domain | default(alertmanager_fqdn | default(ansible_fqdn)) }}
{% endif %}
{% else %}
  smtp_from: {{ alertmanager_smtp_mailfrom | default('alertmanager@' ~ (alertmanager_smtp_domain | default(alertmanager_fqdn | default(ansible_fqdn)))) }}
{% endif %}
  smtp_require_tls: {{ 'True' if alertmanager_smtp_tls else 'Fals' }}e
{% endif %}
receivers:
- name: deadmansswitch
- name: default
{% if alertmanager_notify_slack_address | default(False) %}
  slack_configs:
  - api_url: {{ alertmanager_notify_slack_address }}
{% if alertmanager_notify_slack_channel | default(False) %}
    channel: #{{ alertmanager_notify_slack_channel }}
{% endif %}
    send_resolved: {{ alertmanager_notify_slack_send_resolved }}
{% endif %}
{% if alertmanager_smtp_server and alertmanager_notify_smtp_address | default(False) %}
  email_configs:
{% if alertmanager_smtp_username %}
{% if '@' in alertmanager_smtp_username %}
  - from: {{ alertmanager_smtp_username }}
{% else %}
  - from: {{ alertmanager_smtp_username | default('alertmanager') }}@{{ alertmanager_smtp_domain | default(alertmanager_fqdn | default(ansible_fqdn)) }}
{% endif %}
{% else %}
  - from: {{ alertmanager_smtp_mailfrom | default('alertmanager@' ~ (alertmanager_smtp_domain | default(alertmanager_fqdn | default(ansible_fqdn)))) }}
{% endif %}
    send_resolved: {{ alertmanager_notify_smtp_send_resolved }}
    to: {{ alertmanager_notify_smtp_address }}
{% if bbb_uses_selfsigned | default(True) %}
    tls_config:
      insecure_skip_verify: True
{% endif %}
{% endif %}
route:
  group_by:
  - job
  group_interval: 5m
  group_wait: 30s
  receiver: default
  repeat_interval: {{ alertmanager_repeat_interval_default }}
  routes:
  - match:
      alertname: DeadMansSwitch
    receiver: deadmansswitch
  - match:
      severity: warning
    receiver: default
    repeat_interval: {{ alertmanager_repeat_interval_warning }}
  - match:
      severity: critical
    receiver: default
    repeat_interval: {{ alertmanager_repeat_interval_critical }}
