version: '2.0'
services:
  grafana:
    container_name: grafana
    image: {{ grafana_images_repo }}:{{ grafana_images_release }}
    logging:
      driver: journald
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_grafana'] or ansible_nodename in groups['postgres_grafana'] or ansible_hostname in groups['postgres_grafana'] %}
    network_mode: host
{% endif %}
    ports:
    - "3000:3000"
    restart: unless-stopped
    user: "{{ grafana_user_id.stdout_lines[grafana_user_id.stdout_lines | length - 1] }}"
    volumes:
    - /etc/grafana:/etc/grafana
    - /var/lib/grafana:/var/lib/grafana
