version: '2.0'
services:
{% if 'api' in scalelite_has_roles %}
  scalelite-api:
{% if custom_scalelite_api | default(False) %}
    build:
      context: /usr/src/scalelite
      dockerfile: Dockerfile-justapi
{% endif %}
    container_name: scalelite-api
    environment:
    - DATABASE_URL=postgres://{{ scalelite_postgres_user }}:{{ scalelite_postgres_password }}@{{ scalelite_postgres_host if (scalelite_postgres_host | default(False)) else (hostvars[groups['postgres_scalelite'][0]]['corosync_vip'] | default(hostvars[groups['postgres_scalelite'][0]]['ansible_fqdn'])) }}:{{ scalelite_postgres_port }}/{{ scalelite_postgres_database }}?pool=5&sslmode=disable
    - LOADBALANCER_SECRET={{ scalelite_lb_secret }}
    - REDIS_URL=redis://{{ scalelite_redis_host if (scalelite_redis_host | default(False)) else ((hostvars[groups['lb'][0]]['corosync_vip'] | default(hostvars[groups['lb'][0]]['ansible_fqdn'])) if (groups['lb'] | length > 0) else (hostvars[groups['redis_scalelite'][0]]['corosync_vip'] | default(hostvars[groups['redis_scalelite'][0]]['ansible_fqdn']))) }}:{{ scalelite_redis_port }}
    - SECRET_KEY_BASE={{ scalelite_base_secret }}
    - URL_HOST={{ scalelite_fqdn | default(ansible_fqdn) }}
{% if custom_scalelite_api | default(False) %}
    image: custom-scalelite-api
{% else %}
    image: {{ scalelite_images_repo }}:{{ scalelite_images_release }}-api
{% endif %}
    logging:
      driver: journald
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_scalelite'] or ansible_nodename in groups['postgres_scalelite'] or ansible_hostname in groups['postgres_scalelite'] %}
    network_mode: host
{% endif %}
    ports:
    - "3000:3000"
    restart: unless-stopped
    volumes:
{% if bbb_uses_selfsigned | default(True) %}
    - /etc/ssl/certs:/etc/ssl/certs
    - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates
{% endif %}
    - /var/log/scalelite-api:/app/log
    - /var/scalelite-recordings:/var/bigbluebutton
{% endif %}
{% if 'poller' in scalelite_has_roles %}
  scalelite-poller:
    container_name: scalelite-poller
{% if 'api' in scalelite_has_roles %}
    depends_on:
    - scalelite-api
{% endif %}
    environment:
    - DATABASE_URL=postgres://{{ scalelite_postgres_user }}:{{ scalelite_postgres_password }}@{{ scalelite_postgres_host if (scalelite_postgres_host | default(False)) else (hostvars[groups['postgres_scalelite'][0]]['corosync_vip'] | default(hostvars[groups['postgres_scalelite'][0]]['ansible_fqdn'])) }}:{{ scalelite_postgres_port }}/{{ scalelite_postgres_database }}?pool=5&sslmode=disable
    - REDIS_URL=redis://{{ scalelite_redis_host if (scalelite_redis_host | default(False)) else ((hostvars[groups['lb'][0]]['corosync_vip'] | default(hostvars[groups['lb'][0]]['ansible_fqdn'])) if (groups['lb'] | length > 0) else (hostvars[groups['redis_scalelite'][0]]['corosync_vip'] | default(hostvars[groups['redis_scalelite'][0]]['ansible_fqdn']))) }}:{{ scalelite_redis_port }}
    image: {{ scalelite_images_repo }}:{{ scalelite_images_release }}-poller
    logging:
      driver: journald
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_scalelite'] or ansible_nodename in groups['postgres_scalelite'] or ansible_hostname in groups['postgres_scalelite'] %}
    network_mode: host
{% endif %}
{% if bbb_uses_selfsigned | default(True) %}
    volumes:
    - /etc/ssl/certs:/etc/ssl/certs
    - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates
{% endif %}
{% endif %}
{% if 'recording-importer' in scalelite_has_roles %}
  scalelite-recording-importer:
    container_name: scalelite-recording-importer
{% if 'api' in scalelite_has_roles %}
    depends_on:
    - scalelite-api
{% endif %}
    environment:
    - DATABASE_URL=postgres://{{ scalelite_postgres_user }}:{{ scalelite_postgres_password }}@{{ scalelite_postgres_host if (scalelite_postgres_host | default(False)) else (hostvars[groups['postgres_scalelite'][0]]['corosync_vip'] | default(hostvars[groups['postgres_scalelite'][0]]['ansible_fqdn'])) }}:{{ scalelite_postgres_port }}/{{ scalelite_postgres_database }}?pool=5&sslmode=disable
    - REDIS_URL=redis://{{ scalelite_redis_host if (scalelite_redis_host | default(False)) else ((hostvars[groups['lb'][0]]['corosync_vip'] | default(hostvars[groups['lb'][0]]['ansible_fqdn'])) if (groups['lb'] | length > 0) else (hostvars[groups['redis_scalelite'][0]]['corosync_vip'] | default(hostvars[groups['redis_scalelite'][0]]['ansible_fqdn']))) }}:{{ scalelite_redis_port }}
    image: {{ scalelite_images_repo }}:{{ scalelite_images_release }}-recording-importer
    logging:
      driver: journald
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_scalelite'] or ansible_nodename in groups['postgres_scalelite'] or ansible_hostname in groups['postgres_scalelite'] %}
    network_mode: host
{% endif %}
    user: "2000"
    volumes:
{% if bbb_uses_selfsigned | default(True) %}
    - /etc/ssl/certs:/etc/ssl/certs
    - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates
{% endif %}
    - /var/scalelite-recordings:/var/bigbluebutton
    - /var/scalelite-recordings/spool:/var/bigbluebutton/spool
{% endif %}
