FROM {{ scalelite_images_repo }}:{{ scalelite_images_release }}-nginx

RUN apk add --no-cache curl \
    && sed -i 's|v3.11|edge|' /etc/apk/repositories \
    && apk --no-cache add lua-resty-core nginx-mod-http-lua \
    && apk --no-cache upgrade nginx \
    && mkdir -p /etc/nginx/lua.d/prometheus \
    && curl -fsL -o /etc/nginx/lua.d/prometheus/prometheus.lua \
	https://raw.githubusercontent.com/knyar/nginx-lua-prometheus/master/prometheus.lua \
    && curl -fsL -o /etc/nginx/lua.d/prometheus/prometheus_keys.lua \
	https://raw.githubusercontent.com/knyar/nginx-lua-prometheus/master/prometheus_keys.lua \
    && curl -fsL -o /etc/nginx/lua.d/prometheus/prometheus_resty_counter.lua \
	https://raw.githubusercontent.com/knyar/nginx-lua-prometheus/master/prometheus_resty_counter.lua \
    && ( \
	echo "server {"; \
	echo "    listen {{ nginx_stats_port | default(8080) }};"; \
	echo "    server_name stats;"; \
	echo "    location = /basic_status {"; \
	echo "	stub_status;"; \
	echo "    }"; \
	echo "}"; \
    ) >>/etc/nginx/conf.d/scalelite-ssl.template \
    && rm -f /etc/nginx/conf.d/default.conf

COPY ./prom-vhost.conf /etc/nginx/conf.d/
