access_log stderr {{ nginx_log_fmt | default('combined') }};

server {
    listen 80;
    listen [::]:80;
    server_name {{ ansible_fqdn }} {{ scalelite_fqdn | default(ansible_fqdn) }};
    return 301 https://{{ scalelite_fqdn | default(ansible_fqdn) }};
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ ansible_fqdn }} {{ scalelite_fqdn | default(ansible_fqdn) }};
{% if bbb_uses_selfsigned | default(True) %}
    ssl_certificate /etc/nginx/ssl/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;
{% else %}
    ssl_certificate /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem;
{% endif %}
    ssl_ecdh_curve secp384r1;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;
    ssl_protocols {{ nginx_ssl_protocols | join(' ') }};
    ssl_ciphers "{{ nginx_ssl_ciphers | join(':') }}";
    ssl_prefer_server_ciphers on;
    ssl_dhparam /etc/nginx/ssl/dh.pem;
    add_header Strict-Transport-Security "max-age=31536001; includeSubDomains" always;
    access_log /var/log/nginx/scalelite.access.log {{ nginx_log_fmt | default('combined') }};

    location /notes {
	root    /var/scalelite-recordings/published;
	index  index.html index.htm;
    }
    location /podcast {
	root    /var/scalelite-recordings/published;
	index  index.html index.htm;
    }
    location /playback/presentation/playback.html {
	return 301 /playback/presentation/0.81/playback.html?$query_string;
    }
    # https://github.com/bigbluebutton/bbb-playback#playing-old-recordings
    location /playback/presentation/0.9.0/playback.html {
	return 301 /playback/presentation/2.3/$arg_meetingId?$query_string;
    }
    location /playback/presentation/2.0/playback.html {
	return 301 /playback/presentation/2.3/$arg_meetingId?$query_string;
    }
    location /playback/presentation {
	root    /var/scalelite-recordings;
	index  index.html index.htm;
    }
    location /presentation {
	root    /var/scalelite-recordings/published;
	index  index.html index.htm;
    }
    location /recording/screenshare {
	alias    /var/scalelite-recordings/published/screenshare;
	index  index.html index.htm;
    }
    location / {
	proxy_pass http://127.0.0.1:3000;
	proxy_http_version 1.1;
	proxy_read_timeout 60s;
	proxy_redirect off;
	proxy_set_header Host $http_host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_headers_hash_bucket_size 128;
    }
}
