version: '2.0'
services:
  kibana:
    container_name: kibana
    environment:
    - 'ELASTICSEARCH_HOSTS=["http://{{ es_nodes | join(':9200","http://') }}:9200"]'
    - ELASTICSEARCH_REQUESTTIMEOUT={{ kibana_es_request_timeout }}000
    - SERVER_NAME={{ kibana_fqdn | default(ansible_fqdn) }}
    - TELEMETRY_ENABLED=false
    - 'XPACK_SECURITY_ENABLED=false'
    image: {{ kibana_images_repo }}:{{ kibana_images_release }}
    logging:
      driver: journald
{% if docker_hostnetwork | default(False) %}
    network_mode: host
{% endif %}
    ports:
    - "5601:5601"
    restart: unless-stopped
    volumes:
    - /usr/share/kibana/plugins:/usr/share/kibana/plugins
