{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_greenlight'] or ansible_nodename in groups['postgres_greenlight'] or ansible_hostname in groups['postgres_greenlight'] %}
# WARNING: greenlight container listens en :80 already

{% else %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ ansible_fqdn }} {{ greenlight_fqdn | default(ansible_fqdn) }};
    return 301 https://{{ greenlight_fqdn | default(ansible_fqdn) }};
}

{% endif %}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ ansible_fqdn }} {{ greenlight_fqdn | default(ansible_fqdn) }};
{% if bbb_uses_selfsigned | default(True) %}
    ssl_certificate /etc/nginx/ssl/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;
{% else %}
    ssl_certificate /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem;
{% endif %}
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS:!AES256";
    ssl_prefer_server_ciphers on;
    ssl_dhparam /etc/nginx/ssl/dh.pem;
    access_log /var/log/nginx/greenlight.access.log {{ nginx_log_fmt | default('combined') }};

    location {{ greenlight_app_root }} {
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_greenlight'] or ansible_nodename in groups['postgres_greenlight'] or ansible_hostname in groups['postgres_greenlight'] %}
	proxy_pass http://127.0.0.1:80;
{% else %}
	proxy_pass http://127.0.0.1:5000;
{% endif %}
	proxy_set_header Host $host;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_http_version 1.1;
    }

    location {{ greenlight_app_root }}/cable {
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_greenlight'] or ansible_nodename in groups['postgres_greenlight'] or ansible_hostname in groups['postgres_greenlight'] %}
	proxy_pass http://127.0.0.1:80;
{% else %}
	proxy_pass http://127.0.0.1:5000;
{% endif %}
	proxy_set_header Host $host;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection "Upgrade";
	proxy_http_version 1.1;
	proxy_read_timeout 6h;
	proxy_send_timeout 6h;
	client_body_timeout 6h;
	send_timeout 6h;
    }

# Allow larger body size for uploading presentations
    location ~ /preupload_presentation$ {
	client_max_body_size 30m;
{% if docker_hostnetwork | default(False) or ansible_fqdn in groups['postgres_greenlight'] or ansible_nodename in groups['postgres_greenlight'] or ansible_hostname in groups['postgres_greenlight'] %}
	proxy_pass http://127.0.0.1:80;
{% else %}
	proxy_pass http://127.0.0.1:5000;
{% endif %}
	proxy_set_header Host $host;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_http_version 1.1;
    }

# Only needed if using presentations and deployed at a relative root (ex "{{ greenlight_app_root }}")
# If deploying at "/", delete the section below
    location /rails/active_storage {
	return 301 {{ greenlight_app_root }}$request_uri;
    }
{% if greenlight_app_root != "/" %}

    location = / {
	return 307 {{ greenlight_app_root }};
    }
{% endif %}

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
	root /var/www/nginx-default;
    }
}
