#!/bin/sh

(
    sleep 1
    echo Y
{% for dnsname in cert_fqdn %}
    sleep 1
    echo
{% endfor %}
) | certbot certonly --manual \
{% for dnsname in cert_fqdn %}
    -d {{ dnsname }} \
{% endfor %}
    --staple-ocsp \
    --agree-tos \
    --no-eff-email -m {{ bigbluebutton_letsencrypt_address }}

if ! test $? -eq 0; then
    echo failed to renew certificate
    exit 1
{% if (certbot_post_hooks | default([])) | length > 0 %}
else
{% for post in certbot_post_hooks %}
    {{ post }} || echo failed on {{ post }} >&2
{% endfor %}
{% endif %}
fi

for daemon in nginx coturn
do
    if systemctl is-active $daemon; then
	if test "$daemon" = nginx; then
	    if ! nginx -t; then
		echo "WARNING: invalid nginx configuration - discarding reload"
		echo "Nginx needs to be reloaded, to serve clients using your new certificate"
		continue
	    fi
	    systemctl reload $daemon
	else
	    systemctl restart $daemon
	fi
    fi
done

exit 0
