# /etc/cron.d/certbot: crontab entries for the certbot package
#
# Upstream recommends attempting renewal twice a day
#
# Eventually, this will be an opportunity to validate certificates
# haven't been revoked, etc.  Renewal will only occur if expiration
# is within 30 days.
#
# Important Note!  This cronjob will NOT be executed if you are
# running systemd as your init system.  If you are running systemd,
# the cronjob.timer function takes precedence over this cronjob.  For
# more details, see the systemd.timer manpage, or use systemctl show
# certbot.timer.
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

{% if certbot_hack_renew | default(False) %}
0 */12 {{ certbot_renew_day_of_month }} * * root test -x /usr/bin/certbot && perl -e 'sleep int(rand(43200))' && /usr/local/sbin/certbot-renew-hack
{% elif (certbot_post_hooks | default([])) | length > 0 %}
0 */12 {{ certbot_renew_day_of_month }} * * root test -x /usr/bin/certbot -a \! -d /run/systemd/system && perl -e 'sleep int(rand(43200))' && certbot -q --post-hook {{ certbot_post_hooks | join(' --post-hook ') }} renew
{% else %}
0 */12 {{ certbot_renew_day_of_month }} * * root test -x /usr/bin/certbot -a \! -d /run/systemd/system && perl -e 'sleep int(rand(43200))' && certbot -q renew
{% endif %}
