version: '3'
services:
  bbb-exporter:
    container_name: bbb-exporter
    environment:
    - API_BASE_URL={{ bbb_url.stdout_lines[0] }}api/
    - API_SECRET={{ bbb_secret.stdout_lines[0] }}
    - BIND_IP=0.0.0.0
{% if do_debugs | default(False) %}
    - DEBUG=true
{% endif %}
    - RECORDINGS_METRICS=true
    - PORT={{ bigbluebutton_exporter_port }}
    - TLS_VERIFY=false
    image: {{ bigbluebutton_exporter_images_repo }}:{{ bigbluebutton_exporter_images_release }}
    logging:
      driver: journald
    ports:
    - "{{ bigbluebutton_exporter_port }}:{{ bigbluebutton_exporter_port }}"
    restart: unless-stopped
