version: '2.0'
services:
  bbb-exporter:
    container_name: bbb-exporter
    environment:
    - API_BASE_URL={{ bbb_url.stdout_lines[bbb_url.stdout_lines | length - 1] }}api/
    - API_SECRET={{ bbb_secret.stdout_lines[bbb_secret.stdout_lines | length - 1] }}
    - BIND_IP=0.0.0.0
{% if do_debugs | default(False) %}
    - DEBUG=true
{% endif %}
    - RECORDINGS_METRICS=true
    - RECORDINGS_METRICS_READ_FROM_DISK=true
    - PORT={{ bigbluebutton_exporter_port }}
{% if bbb_uses_selfsigned | default(True) %}
    - TLS_VERIFY=false
{% endif %}
    extra_hosts:
    - {{ bigbluebutton_fqdn | default(ansible_fqdn) }}:{{ ansible_default_ipv4['address'] }}
    image: {{ bigbluebutton_exporter_images_repo }}:{{ bigbluebutton_exporter_images_release }}
    logging:
      driver: journald
{% if docker_hostnetwork | default(False) %}
    network_mode: host
{% endif %}
    ports:
    - "{{ bigbluebutton_exporter_port }}:{{ bigbluebutton_exporter_port }}"
    restart: unless-stopped
    volumes:
    - /var/bigbluebutton:/var/bigbluebutton:ro
