FROM python:3-slim-buster

RUN pip install prometheus-freeswitch-exporter=={{ freeswitch_exporter_release }}

USER 1000

ENTRYPOINT [ "/bin/sh", "-c", "/usr/local/bin/freeswitch_exporter /config/esl.yaml 9724 0.0.0.0" ]
