<include>
    <gateway name="{{ freeswitch_trunk_name }}">
	<param name="username" value="{{ freeswitch_trunk_username }}" />
	<param name="password" value="{{ freeswitch_trunk_password }}" />
	<param name="realm" value="{{ freeswitch_trunk_realm }}" />
	<param name="proxy" value="{{ freeswitch_trunk_proxy }}" />
	<param name="register" value="{{ freeswitch_trunk_register }}" />
	<param name="caller-id-in-from" value="true" />
	<param name="expire-seconds" value="{{ freeswitch_trunk_expire }}" />
{% if bigbluebutton_dummy_address | default(False) %}
	<param name="wss-binding"  value="{{ bigbluebutton_dummy_address }}:7443" />
{% endif %}
    </gateway>
</include>

