version: '2.0'
services:
  freeswitch-exporter:
    container_name: freeswitch-exporter
    image: freeswitch-exporter
    logging:
      driver: journald
    network_mode: host
    ports:
    - "127.0.0.1:9724:9724"
    restart: unless-stopped
    volumes:
    - /etc/docker-compose/freeswitch-exporter:/config
